<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form | Estate Marketplace</title>
  <link rel="stylesheet" href="LOGIN/styles.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  
</head>
 
 <body>
  
  <div class="wrapper">
    <form id="registerForm"> <!-- Directly set the action to index.html -->
      <h1>REGISTER</h1>
      <div class="input-box">
          <input type="text" name="username" id="username" placeholder="username" required>
          <i class='bx bxs-user'></i>
      </div>
      <div class="input-box">
          <input type="text" name="email" id="email" placeholder="Email" required>
          <i class='bx bxs-user'></i>
      </div>
      <div class="input-box">
          <input type="password" name="password" id="password" placeholder="Password" required>
          <i class='bx bxs-lock-alt' ></i>
      </div>
      <div class="input-box">
          <input type="password" id="confirmPassword" placeholder="Confirm Password" required>
          <i class='bx bxs-lock-alt' ></i>
      </div>
      <button type="button" id="registerBtn" class="btn">Register</button>
      <!-- <a href="LOGIN.html">Login</a> -->
  </form>

  <script>
    
      $(document).ready(function(){
          $("#registerBtn").click(function(e){
              e.preventDefault(); // Prevent the default form submission
              
              // Get form data
              var username = $("#username").val();
              var email = $("#email").val();
              var password = $("#password").val();
              var confirmPassword = $("#confirmPassword").val();
              
              // Perform basic validation
              if(password !== confirmPassword) {
                  alert("Passwords do not match.");
                  return;
              }
              
              // Create form data object
              var formData = {
                  username: username,
                  email: email,
                  password: password
              };

              // Send AJAX request
              $.ajax({
                  url: "http://localhost/Web-Project-2024/backend/add_user.php", 
                  type: "POST",
                  data: formData,
                  success: function(response) {
                      
                      console.log(response);
                   
                  },
                  error: function(xhr, status, error) {
                      // Handle error
                      console.error(xhr.responseText);
                  }
              });
          });
      });
  </script>
  </div>
</body>
</html>